@import "../voltage/scss/package/typography.scss";
@import "../voltage/scss/package/colours.scss";

body {
  @include set-font-family("body");
}

.example-class {
  display: block;
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 30px;
  @include set-text-colour("blue");
}

.content-container {
  width: 100%;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
}
